@import "tailwindcss";

:root {
  --font-montserrat: "Montserrat";
  --font-raleway: "Raleway";
}

@theme {
  --color-main-bg: #232829;
  --color-header-bg: #1d5b43;

  --font-main: var(--font-montserrat), sans-serif;
  --font-second: var(--font-raleway), sans-serif;
  --font-third: 'Gilroy', sans-serif;
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2');
  font-display: swap;
}